@model MyFirstMVCAppSCAGT.Models.UserDemo


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";


}


@Scripts.Render("~/bundles/jquery");

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval");
}


@if (Session["USerId"] != null)
{

    @Session["USerId"].ToString()

}


@*@Html.Partial("_PartialVIew", new Student())*@


@{
    Html.RenderPartial("_PartialVIew", new Student());
}

@*@Html.Partial("_PartialVIew")
    @Html.Partial("_PartialVIew")
    @Html.Partial("_PartialVIew")
    @Html.Partial("_PartialVIew")

    @Html.Partial("_PartialVIew")
    @Html.Partial("_PartialVIew")*@

<br />


@foreach (var item in (IEnumerable<MyFirstMVCAppSCAGT.Student>)ViewData["UserList"])
{

    <tr>
        <td>
            @item.StudentId
        </td>
        <td>
            @item.StudentName
        </td>
    </tr>

}



@using (Html.BeginForm("Create", "User", new { UserId = 12, CompanyId = 10 }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "Customclass", @id = "frmId" }))

{

    @*@ViewBag.UserName

            <br />

            @ViewBag.UserId

        <br />

            @ViewBag.Employee*@


    <h2>Create</h2>
    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "control-label col-md-2" })

            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })

            @Html.ValidationMessageFor(m => m.UserName)
        </div>


        <div class="form-group">
            @Html.LabelFor(m => m.EmailId, new { @class = "control-label col-md-2" })

            @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control" })

            @Html.ValidationMessageFor(m => m.EmailId)
        </div>



        <div class="form-group">
            @Html.LabelFor(m => m.Age, new { @class = "control-label col-md-2" })

            @Html.TextBoxFor(m => m.Age, new { @class = "form-control", @type = "number" })

            @Html.ValidationMessageFor(m => m.Age)
        </div>


        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label col-md-2" })

            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

            @Html.ValidationMessageFor(m => m.Password)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label col-md-2" })

            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>




        <div class="form-group">
            @Html.LabelFor(m => m.CountryID, new { @class = "control-label col-md-2" })

            @*@Html.DropDownListFor(m => m.CountryID, new SelectList(Enum.GetValues(typeof(Country)), "Please Select Country "))*@


            @Html.DropDownListFor(m => m.CountryID, new SelectList(ViewBag.UserList, "StudentId", "StudentName"), "Please Select Country ", new { @class = "form-control" })
        </div>



        <div class="form-group">
            @Html.LabelFor(m => m.IsActive, new { @class = "control-label col-md-2" })


            @Html.CheckBoxFor(m => m.IsActive, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Gender, new { @class = "control-label col-md-2" })


            @Html.RadioButtonFor(m => m.Gender, "Male") MALE
            <br />
            @Html.RadioButtonFor(m => m.Gender, "Female") FEMALE
        </div>

        <div class="form-group">



            @Html.TextBoxFor(m => m.PostedFile, new { type = "file" })
            <br />
            @Html.ValidationMessageFor(m => m.PostedFile, "", new { @class = "error" })

        </div>

        <div class="form-group">

            <select id="EmailId123" name="EmailId123">
                @*<option value="">--Select Parent--</option>*@
            </select>

            @*@Html.DropDownList("EmailId", Enumerable.Empty<SelectListItem>(), "--Select Parent--")*@


            @*@Html.DropDownList("EmailId", new IEnumerable<SelectListItem>());*@

        </div>



        <a onclick="GetClientReport()"> DOWNLOAD</a>

        <a id="myButton"> Fire Controller script</a>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
            <br />
            <br />
            <input type="button" id="btnButton1" value="Button1" class="btn btn-default clsClass" />
            <br />
            <input type="button" id="btnButton2" value="Button2" class="btn btn-default clsClass" />
        </div>
    </div>
    <br />

}





@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>User</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@




<script type="text/javascript">

    //
    $(document).ready(function () {

        // Object {}
        var obj = {
            "FirstName": "JIgar",
            "LastName": "Thakkar",
            "Gender": "M",
        }

        var array = [
            {
                "FirstName": "JIgar",
                "LastName": "Thakkar",
                "Gender": "M",
            },
            {
                "FirstName": "Gagan",
                "LastName": "Thakkar",
                "Gender": "M",
            },
            {
                "FirstName": "Sandip",
                "LastName": "Patel",
                "Gender": "M",
            },
            {
                "FirstName": "Twinkal",
                "LastName": "Patel",
                "Gender": "G",
            }
        ];

        debugger

        // Convert JSON to String
        var stringJSON = JSON.stringify(array);

        //Convert String to JSON if Valid
        var jsonParse = JSON.parse(stringJSON);


        // Object
        var obj = {
            FirstName: "JIgar",
            LastName: "Thakkar",
            Gender: "M",
        }



        // # >> ID
        debugger
        $("#UserName").val("JIgar Thakkar") // Set

        //J : $("#UserName")
        // Javascript :
        document.getElementById("UserName");


        // . >> Dot
        //$(".form-control").css("background-color", "red")

        //$("#UserName, #CountryID").css("background-color", "red") // Set

        //$("label,input").css("background-color", "red");

        //$("#btnButton").mouseenter(function () {
        //    alert($("#btnButton").hasClass("clsClass dsfsdff dff"));
        //})

        //$("#btnButton2").bind("click", function () {
        //    alert("btnButton2 First fired");
        //});

        $("#btnButton1").click(function () {
            debugger

            var obj = $("#frmId").serialize();

            $.getJSON('URL', { name: 'jigar' }, function (data, textStatus, jqXHR) {
                $('p').append(data.firstName);
            });


            $.ajax({
                // /UserNew/JSONMethodCalled
                url: "@Url.Action("JsonResultMethod", "UserNew")",//*
                type: "POST",      // The HTTP method to use for the request//*
                //contentType: "application/json; charset=utf-8", // Need to pass data from AJAX to Method
                dataType: "json",   // The type of data that you're exerciseecting back //*
                data: obj,

                error: function (e) {
                    debugger
                    // A function to be called if the request fails.
                },
                beforeSend: function (e) {
                    debugger
                    // A function to be called if before the request is made.
                },
                success: function (response) {
                    debugger
                    $.each(response, function (data, value) {
                        debugger
                        $("#EmailId123").append($("<option></option>").val(value.UserId).html(value.UserName));
                    })
                    // A function to be called if the request succeeds.
                },
                complete: function (response) {
                    debugger
                    // A function to be called when the request finishes
                }
            });


            //var a = $("input").length;

            //$(this).attr("data-value", "Jigar Thakkar");

            //$("#btnButton2").bind("click", function () {
            //    alert("btnButton2 First fired");
            //});

            //alert("btnButton1 fired");


            debugger

            //$("#UserName").delay(1000).toggle(2000);
            //$("html").scrollTop(0);

            /*var username = $("#UserName").val(); // GET*/

        })

        $("#UserName").change(function () {
            debugger
            //$(this).attr("data-value", "Jigar Thakkar");

            //alert($("#btnButton").hasClass("clsClass dsfsdff dff"));

            //debugger

            //$("#UserName").delay(1000).toggle(2000);
            //$("html").scrollTop(0);

            /*var username = $("#UserName").val(); // GET*/

        })




        // Jquery
    })

    //$(document).ready(function () {
    //    $("#myButton").click(function () {
    //        $.getScript("/UserNew/MyMESSSGAE")
    //    })

    //})


    //function GetClientReport() {
    //    window.open('/UserNew/GetReport', "_blank");
    //};
</script>